<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengcheng.mall.domain.mapper.SpecificationValueMapper">

    <select id="findSpecificationValueBySpuId" resultType="java.lang.Long">
        SELECT DISTINCT psv.specification_value_id
        FROM product_specification_value psv
                 LEFT JOIN specification_value sv ON psv.specification_value_id = sv.id
                 LEFT JOIN product_sku sku ON psv.product_sku_id = sku.id
        WHERE sku.spu_id = #{spuId}
          AND psv.is_deleted = 0
          AND sv.is_deleted = 0
          AND sku.is_deleted = 0
    </select>

    <select id="findSpecificationIdsByIds" resultType="java.lang.Long">
        SELECT
        specification_id
        FROM
        specification_value
        WHERE
        is_deleted = 0 AND id IN
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        ORDER BY
        FIELD( id,
        <foreach collection="ids" open="" close="" separator="," item="item">
            #{item}
        </foreach>
        )
    </select>

</mapper>
